<!DOCTYPE html>
<html>
<head>
  	<meta charset="utf-8">
  	<meta name="viewport" content="initial-scale=1, width=device-width">
  	
  	<link rel="stylesheet"  href="./HomePage.css" />
  	<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap" />
</head>
<body>
  	
  	<div class="homepage">
    		<div class="logo">
   				 <img src="./images/logo_dark.png" alt="Logo">
			</div>

    		<nav class="navbar-nav">
            <a href="#" class="nav-link">Home</a>
            <a href="#" class="nav-link">Saved</a>
            <a href="#" class="nav-link">Account</a>
            </nav>

    		<img class="homepage-child" alt="" src="./images/Rectangle_bottom.png">
    		<img class="homepage-item" alt="" src="./images/Rectangle_top.png">
    		
    		<div class="content">
      			<div class="add-your-note-parent">
        				<button class="add-your-note">
 							+Add your note
  							<img class="arrows-directionsright" alt="" src="./images/add_note.png">
						</button>
      			</div>
    		</div>

    		<div class="for-you-section">
      			<div class="title1">List</div>
    		</div>


    		<div class="div">
      			<img class="image-icon" alt="" src="./images/textimage.png">
      			<div class="content1">
        				<div class="creating-streamlined-safeguard">Creating Streamlined Safeguarding Processes with OneRen</div>
        				<div class="readmore-parent">
          					<button class="readmore-button">
  								Readmore
  								<img class="arrows-directionsright" alt="" src="./images/ReadMore.png">
							</button>
        				</div>
      			</div>
    		</div>

    		<div class="search">
    <input type="text" class="search-input" placeholder="What are you looking for?">
    <button class="search-button">
        <img class="icon-search" alt="" src="./images/icon-search.png">
    </button>
</div>

    		<div class="div1">
      			<img class="image-icon" alt="" src="./images/textimage.png">
      			<div class="content1">
        				<div class="creating-streamlined-safeguard">Creating Streamlined Safeguarding Processes with OneRen</div>
        				<div class="readmore-parent">
          					<button class="readmore-button">
								Readmore
          						<img class="arrows-directionsright" alt="" src="./images/ReadMore.png">
          					</button>
        				</div>
      			</div>
    		</div>

    		<div class="div2">
      			<img class="image-icon" alt="" src="./images/textimage.png">
      			<div class="content1">
        				<div class="creating-streamlined-safeguard">Creating Streamlined Safeguarding Processes with OneRen</div>
        				<div class="readmore-parent">
          					<button class="readmore-button">
								Readmore
          						<img class="arrows-directionsright" alt="" src="./images/ReadMore.png">
          					</button>
        				</div>
      			</div>
    		</div>

			<div class="ads">
    			<img class="ads-image" alt="Advertisement" src="./images/Ads.png">
			</div>
  	</div>
</body>
</html>
