<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1, width=device-width">
    <meta name="description" content="NoteSphere Account Page">
    <title>NoteSphere - Account</title>
    <link rel="stylesheet" href="./read.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,600;0,700;1,400&display=swap">
</head>
<body>
  	
  	<div class="account">
    		<img class="account-child" alt="" src="./images/Rectangle_top.png">
    		
    		<img class="account-item" alt="" src="./images/Rectangle_bottom.png">		
    		<div class="logo">
   				 <img src="./images/logo_dark.png" alt="Logo">
			</div>

    		<nav class="navbar-nav">
            <a href="#" class="nav-link">Home</a>
            <a href="#" class="nav-link">Saved</a>
            <a href="#" class="nav-link">Account</a>
            </nav>
    		<div class="hello">
      			<div class="title1">Account</div>
    		</div>
    		
    		<i class="name">Name</i>
    		<i class="note-title">Note title</i>
    		<i class="title2">Title</i>
    		<i class="edit">Edit</i>
    		<i class="edit1">Edit</i>
    		<i class="edit2">Edit</i>
    		<i class="edit3">Edit</i>
    		<i class="title3">Title</i>
    		<i class="title4">Title</i>
    		<i class="title5">Title</i>
    		<div class="user-information">User Information</div>
    		<div class="uploaded-notes">Uploaded Notes</div>
    		<a href="edit-profile.html" class="edit-profile action-link">Edit Profile</a>
            <a href="delete-account.html" class="delete-account action-link">Delete account</a>
    		<i class="email">Email</i>
    		<i class="field-of-study">Field of study</i>
    		<i class="grade">Grade</i>
    		<i class="comments">Comments</i>
    		<i class="courses">Courses</i>
    		<i class="grade1">Grade</i>	
    		<i class="field-of-study1">Field of study</i>
    		<i class="email1">email</i>
    		<div class="search">
    <input type="text" class="search-input" placeholder="What are you looking for?">
    <button class="search-button">
        <img class="icon-search" alt="" src="./images/icon-search.png">
    </button>
</div>
    		<i class="name1">name</i>
    		
  	</div>
  	
  	
  	
  	
</body>
</html>